/*=======================================================
	General Styles
=======================================================*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700,300,100|Lora:400,400italic,700,700italic);

body, html{
	height:100%;
	width:100%;
}

body{
	position:relative;
	overflow:hidden;
	font-family: Lora, serif;
	background:#F0F0F0 !important;
}

*{
	font-family: inherit;
}

li > a > .header> .info-list > li > strong,
.btn-custom> .menu-items > li > a,
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Mono', sans-serif;
}

.color{
	color:#000;
}

::-webkit-scrollbar{
	background:#F0F0F0;
	height:10px;
	width:10px;
}

::-webkit-scrollbar-thumb{
	background:#55194F;
	border:solid 2px #F0F0F0;
}

::-webkit-scrollbar-thumb:hover{
	background:#A0A0A0;
}

img{
	max-width:100%;
}

/*=======================================================
	Menu
=======================================================*/

body.border-dark .menu-btn > .lines > span{
	background:#000;
}

.menu-btn > .lines > .l2{
	margin:6px 0;
}

.menu{
	position:absolute;
	z-index:399;
	background:grey;
	top:0;
	right:0;
	height:100%;
	width:0;
	-webkit-transition:width .6s cubic-bezier(.785,.135,.15,.86);
	-moz-transition:width .6s cubic-bezier(.785,.135,.15,.86);
	transition:width .6s cubic-bezier(.785,.135,.15,.86);
	overflow:hidden;
}

.menu:hover,
.menu-btn:hover + .menu{
	width:300px;
}

.menu > .inner{
	height:100%;
	width:300px;
	position:absolute;
	right:0;
	top:0;
}

.menu-items{
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	width:100%;
	top:50%;
	left:0;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	text-align:center;
}

.menu-items > li > a{
	color:#FFF;
	color:rgba(255,255,255,.6);
	font-size:18px;
	font-weight:700;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:4px;
	padding:15px 0;
	margin:2px 0;
	display:block;
	-webkit-transition:color .3s cubic-bezier(.785,.135,.15,.86);
	-moz-transition:color .3s cubic-bezier(.785,.135,.15,.86);
	transition:color .3s cubic-bezier(.785,.135,.15,.86);
}

.menu-items > li > a:hover{
	color:#55194F;
}

.main-content > .page-border{
	position:absolute;
	border:solid 1px #fff;
	border-color:rgba(255,255,255,.4);
	z-index:999;
	-webkit-transition:border-color 2.5s cubic-bezier(.785,.135,.15,.86);
	-moz-transition:border-color 2.5s cubic-bezier(.785,.135,.15,.86);
	transition:border-color 2.5s cubic-bezier(.785,.135,.15,.86);
}

body.border-dark .main-content > .page-border{
	border-color:#000;
}

.main-content > .border-top,
.main-content > .border-bottom{
	height:7px;
	left:20px;
	right:20px;
}

.main-content > .border-top{
	top:14px;
}

.main-content > .border-bottom{
	bottom:14px;
}

.main-content > .border-left,
.main-content > .border-right{
	width:7px;
	top:20px;
	bottom:20px;
}

.main-content > .border-right{
	right:14px;
}
.main-content > .border-left{
	left:14px;
}

/*=======================================================
	Section Styles
=======================================================*/

.main-content{
	position:fixed;
	top:40px;
	left:40px;
	right:40px;
	bottom:40px;
	z-index:99;
	overflow:hidden;
	box-shadow: 0 0 0 10px #FFF;
}

.section{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	z-index:-1;
	visibility:hidden;
	padding-top:110px;
	background:#F0F0F0;
}

.section.active{
	visibility:visible;
	z-index:99;
}

.section-header{
	position:relative;
}

.section-header > h2{
	font-size:28px;
	font-weight:200;
	margin:0;
	text-transform:uppercase;
	letter-spacing:4px;
}

.section-block{
	padding:110px;
	padding-top:0;
}

body.section-switching .main-content:before,
body.section-switching .main-content:after{
	z-index:299;
}

body.border-dark .main-content:before,
body.border-dark .main-content:after{
	border-color:#000;
}

.sections{
	height:100%;
	width:100%;
}

/*=======================================================
	Main Section
=======================================================*/

.section-main{
	background-size:cover;
	background-image:url(../img/bg.jpg);
}

.section-main:before{
	content: ' ';
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:#000;
	opacity:.8;
	z-index:-1;
}

.intro-text{
	padding:20px;
	text-align:center;
}

.intro-text > h3{
	margin:0;
	color:#FFF;
	font-weight:300;
	letter-spacing:2px;
	font-size:48px;
}

x-sign{
	--interval: 1s;
  	display: block;
  	text-shadow: 
    0 0 20px var(--color1),
    0 0 40px var(--color2),
    0 0 60px var(--color3),
    0 0 100px var(--color4);
	will-change: filter, color;
  	filter: saturate(100%);
	animation: flicker steps(100) var(--interval) 0.8s infinite;
}

x-sign{
	font-size:24px;
	font-style: italic;
	letter-spacing: 4px;
	margin-top:50px;
	margin-bottom:50px;
	color: #fff;
  	--color1:#fff;
  	--color2: #55194F;
  	--color3: purple;
  	--color4: red;
}

.intro-text > .intro-btns{
	margin-top:45px;
}

.intro-text > .intro-btns > .btn-custom{
	margin:0px 30px;
}

a.btn-custom{
	color:#FFF;
	text-decoration:none;
}

.btn-custom{
	color:#FFF;
	letter-spacing:4px;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	font-size:11px;
	font-weight:400;
	display:inline-block;
	/**display:inline;
	*zoom:1;*/
	line-height:1em;
	padding:17px 32px;
	position:relative;
	left: -20px;
	z-index:5;
	background:transparent;
	border:none;
}

.btn-custom:after{
	content: ' ';
	position:absolute;
	top:0;
	left:-10px;
	right:-10px;
	bottom:0;
	-webkit-transform:rotate(-4deg);
	-moz-transform:rotate(-4deg);
	-ms-transform:rotate(-4deg);
	-o-transform:rotate(-4deg);
	transform:rotate(-4deg);
	z-index:-1;
	opacity:0.6;
	visibility:hidden;
	background:rgba(85,25,79,0.6);
	/*background:#55194F;*/
	-webkit-transition:all .3s cubic-bezier(.785,.135,.15,.86);
	-moz-transition:all .3s cubic-bezier(.785,.135,.15,.86);
	transition:all .3s cubic-bezier(.785,.135,.15,.86);
}

.btn-custom:before{
	content: ' ';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:2;
	border:solid 1px #FFF;
	border-color:rgba(255,255,255,.8);
}

.btn-custom:hover:after{
	opacity:1;
	visibility:visible;
}

.btn-custom.btn-color:after{
	background:#000;
}

.btn-custom.btn-color:hover:after{
	opacity:.4;
}

.btn-custom.btn-color{
	color:#000;
}

.btn-custom.btn-color > span:before,
.btn-custom.btn-color > span:after{
	background:rgba(0,0,0,.2);
}

.btn-custom.btn-color:before{
	border-color:rgba(0,0,0,.2);
}

body.section-switching .animation-block{
	position:absolute;
	left:0;
	height:0%;
	width:100%;
	background:#E0E0E0;
	z-index:199;
}

body.section-switching.down .animation-block{
	-webkit-animation: anim-down 2.5s cubic-bezier(.785,.135,.15,.86);
	-moz-animation: anim-down 2.5s cubic-bezier(.785,.135,.15,.86);
	animation: anim-down 2.5s cubic-bezier(.785,.135,.15,.86);
}
body.section-switching.up .animation-block{
	-webkit-animation: anim-up 2.5s cubic-bezier(.785,.135,.15,.86);
	-moz-animation: anim-up 2.5s cubic-bezier(.785,.135,.15,.86);
	animation: anim-up 2.5s cubic-bezier(.785,.135,.15,.86);
}

@-webkit-keyframes anim-down{
	0%{
		bottom:0;
		height:0;
	}
	45%{
		bottom:0;
		height:100%;
	}
	55%{
		bottom:0;
		height:100%;
	}
	100%{
		height:0%;
		top:0;
	}
}

@-moz-keyframes anim-down{
	0%{
		bottom:0;
		height:0;
	}
	45%{
		bottom:0;
		height:100%;
	}
	55%{
		bottom:0;
		height:100%;
	}
	100%{
		height:0%;
		top:0;
	}
}

@keyframes anim-down{
	0%{
		bottom:0;
		height:0;
	}
	45%{
		bottom:0;
		height:100%;
	}
	55%{
		bottom:0;
		height:100%;
	}
	100%{
		height:0%;
		top:0;
	}
}

@-webkit-keyframes anim-up{
	0%{
		top:0;
		height:0;
	}
	45%{
		top:0;
		height:100%;
	}
	55%{
		top:0;
		height:100%;
	}
	55.1%{
		bottom:0;
		top:auto;
		height:100%;
	}
	100%{
		height:0%;
		bottom:0;
		top:auto;
	}
}

@-moz-keyframes anim-up{
	0%{
		top:0;
		height:0;
	}
	45%{
		top:0;
		height:100%;
	}
	55%{
		top:0;
		height:100%;
	}
	55.1%{
		bottom:0;
		top:auto;
		height:100%;
	}
	100%{
		height:0%;
		bottom:0;
		top:auto;
	}
}

@keyframes anim-up{
	0%{
		top:0;
		height:0;
	}
	45%{
		top:0;
		height:100%;
	}
	55%{
		top:0;
		height:100%;
	}
	55.1%{
		bottom:0;
		top:auto;
		height:100%;
	}
	100%{
		height:0%;
		bottom:0;
		top:auto;
	}
}

.section-main{
	padding:0;
}

.section-main, .section-main > .container-fluid{
	height:100%;
	width:100%;
}

.v-align{
	display:table;
	height:100%;
	width:100%;
}

.v-align > .inner{
	height:100%;
	width:100%;
	display:table-cell;
	vertical-align:middle;
}

/*=======================================================
	About Section
=======================================================*/

.about-section{
	background:#F0F0F0;
}

.about-block .section-header{
	margin-bottom:80px;
}

.about-text> p{
	font-size:14px;
	color:rgba(0,0,0,.4);
	line-height:1.8em;
}

.about-text{
	margin-bottom:25px;
}

.info-list{
	padding:0;
	margin:0;
	list-style:none;
}

.info-list > li{
	padding:14px 0;
	border-bottom:solid 1px rgba(0,0,0,.1);
}

.info-list > li:last-of-type{
	border:none;
}

.info-list > li > strong{
	letter-spacing:4px;
	color:#202020;
	text-transform:uppercase;
}

.info-list > li > span{
	color:rgba(0,0,0,.4);
}

.section-header{
	margin-bottom:70px;
}

.skills-block .section-header{
	margin-bottom:80px;
}

.skill{
	position:relative;
	margin-bottom:40px;
}

.skill:last-of-type{
	margin-bottom:0;
}

.skill > h4{
	margin-top:0;
	margin-bottom:5px;
	font-weight:500;
	letter-spacing:2px;
	text-transform:uppercase;
	font-size:14px;
}

.skill > .bar{
	background:#E0E0E0;
}

.skill > .bar > .percent{
	background:#55194F;
	width:10%;
	height:6px;
}

.menu-btn{
	font-size:0;
	display:block;
	position:absolute;
	top:20px;
	right:20px;
	padding:25px;
	z-index:499;
}

.menu-btn > .lines{
	display:block;
	width:36px;
}

.menu-btn > .lines > span{
	display:block;
	width:100%;
	height:3px;
	background:#FFF;
	-webkit-transition:background 2.5s cubic-bezier(.785,.135,.15,.86);
	-moz-transition:background 2.5s cubic-bezier(.785,.135,.15,.86);
	transition:background 2.5s cubic-bezier(.785,.135,.15,.86);
}

/*=======================================================
	Education, Experience and Projects Section
=======================================================*/

.timeline-block .section-header{
	margin-bottom:80px;
}
.timeline{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	padding:40px 0;
}
.timeline:before{
	content: ' ';
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:2px;
	background:#55194F;
}
.timeline > li{
	padding-left:40px;
	margin-bottom:40px;
}
.timeline > li:last-of-type{
	margin-bottom:0;
}
.timeline > li > .timeline-content{
	padding:25px;
	border:solid 1px #55194F;
	position:relative;
}
.timeline > li > .timeline-content:before{
	content: ' ';
	position:absolute;
	top:15px;
	left:-40px;
	width:40px;
	height:2px;
	background:#55194F;
}
.timeline > li > .timeline-content:after{
	content: ' ';
	position:absolute;
	height:16px;
	width:16px;
	border-radius:50%;
	background:#F0F0F0;
	border:solid 2px #55194F;
	top:7px;
	left:-48px;
}
.timeline > li > .timeline-content > h4{
	margin:0;
	margin-bottom:5px;
}
.timeline > li > .timeline-content > em{
	margin-bottom:10px;
	display:block;
	color:rgba(0,0,0,.6);
}
.timeline > li > .timeline-content > em > span{
	margin-right:10px;
}
.timeline > li > .timeline-content > p{
	margin:0;
	line-height:1.6em;
	color:rgba(0,0,0,.4);
}

/*=======================================================
	Contact Section
=======================================================*/

.contact-block .section-header{
	margin-bottom:80px;
}

.contact-info{
	margin-bottom:50px;
	width: 177%;
}

.contact-info:before,
.contact-info:after{
	content: ' ';
	display:table;
}

.contact-info:after{
	clear:both;
}

.contact-info > img{
	width:40px;
	display:block;
	float:left;
	font-size:55px;
}

.contact-info > p{
	float:left;
	font-size:16px;
	line-height:1.6em;
	font-style:italic;
	color:rgba(0,0,0,.4);
	margin-left: 20px;
	margin-top:8px;
}

.row2> img{
	width: 100%;
	display:block;
	float:right;
	transform: rotate(-3deg);
	border: solid 4px #55194F;
}

.row{
	float: left;
	width: 50%;
}

.row1{
	width: 50%;
	float: right;
	border: solid 9px #55194F;
	z-index: -200;
}
.row2{
	float:right;
	width: 100%;
	/*padding: 3px 3px;
    display: inline-block;
    border: 5px solid #55194F;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #f0f0f0;
    position: relative;
    transform: translate3d(-5%, -5%, 0) scale(1.015) rotate(-3deg);
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(-3deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }*/
}

@media(min-width:992px){
	.contact-info-icons{
		padding-left:30px;
	}
}

/*=======================================================
	Preloader
=======================================================*/
#preloader{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:999;
	-webkit-transition: all .3s 1s ease;
	-moz-transition: all .3s 1s ease;
	transition: all .3s 1s ease;
}

#preloader > .left,
#preloader > .right{
	position:absolute;
	top:0;
	width:50%;
	height:100%;
	background:#FFF;
	overflow:hidden;
	z-index:99;
	-webkit-transition:all .7s .3s ease;
	-moz-transition:all .7s .3s ease;
	transition:all .7s .3s ease;
}

#preloader > .left{
	left:0;
}

#preloader > .right{
	right:0;
}

body.loaded #preloader{
	visibility:hidden;
}

body.loaded #preloader > .left{
	left:-50%;
}

body.loaded #preloader > .right{
	right:-50%;
}

body.loaded #preloader > .left,
body.loaded #preloader > .right,
body.loaded #preloader .loader{
	opacity:0;
	visibility:hidden;
}

.loader{
	height:140px;
	width:140px;
	border:solid 4px #FFF;
	border-top-color:#55194F;
	border-right-color:purple;
	border-radius:50%;
	position:absolute;
	top:50%;
	right:0;
	left:0;
	margin:auto;
	margin-top:-70px;
	transition:all 1s ease;
	z-index:199;
	-webkit-animation:loader 3s infinite linear;
	-moz-animation:loader 3s infinite linear;
	animation:loader 3s infinite linear;
}

.loader:before,
.loader:after{
	content: ' ';
	position:absolute;
	border:inherit;
	border-radius:50%;
}

.loader:before{
	left:15px;
	top:15px;
	bottom:15px;
	right:15px;
	opacity:.5;
	-webkit-animation: loader 4s infinite linear;
	-moz-animation: loader 4s infinite linear;
	animation: loader 4s infinite linear;
}

.loader:after{
	left:30px;
	right:30px;
	top:30px;
	bottom:30px;
	opacity:.25;
	-webkit-animation: loader 2s infinite linear;
	-moz-animation: loader 2s infinite linear;
	animation: loader 2s infinite linear;
}

@-webkit-keyframes loader{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

@-moz-keyframes loader{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

@keyframes loader{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}


/*=======================================================
	Responsive CSS
=======================================================*/
@media(max-width:992px){
	.info-list{
		margin-bottom:25px;
	}
	
	div:last-of-type > .p-table,
	div:last-of-type > .skill:last-of-type,
	div:last-of-type > .service{
		margin-bottom:0;
	}
	
	.section{
		padding-top:90px;
	}
	.section-block{
		padding:90px;
		padding-top:0;
	}
	.contact-info-icons{
		margin-top:60px;
	}
}

@media(max-width:600px){
	.main-content{
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
	.about-btns > .btn-custom{
		margin-bottom:10px;
	}
	.intro-text > .intro-btns > .btn-custom{
		margin-bottom:10px;
	}
	.intro-text > h3{
		font-size:25px;
	}
}

@media(max-width:550px){
	.section{
		padding-top:70px;
	}
	.section-block{
		padding:70px;
		padding-top:0;
	}
}

@media(max-width:400px){
	.section{
		padding-top:40px;
	}
	.section-block{
		padding:40px;
		padding-top:0;
	}
}